@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Henny Penny', cursive;
    height: 100vh;
    /* background-image: linear-gradient(120); */
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-container {
    background-color: #fed9b7;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, .6);
    display: flex;
    padding: 20px 30px;
    margin: 100px 0;
    position: relative;
    z-index: 10;
}

.image-container {
    position: relative;
    width: 110px;
}

.image-container::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 20px;
    width: 20px;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.image-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 5s linear infinite;
    /* animation-play-state: paused; */
}

/* .music-container.play .image-container img {
    animation-play-state: running;
} */


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}